{% load comments %}
{% get_comment_count for object as comment_count %}
<div class="post">
    <div class="header">
        <h2><a class="title" href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
        <p class="date_published"> {{ object.date_published|date:"l, F jS, Y @ g:i A" }} \\
        <a href="">{{ object.created_by.username }}</a></p>
        <p class="comment_count"><a href="{{ object.get_absolute_url }}#comments_list">{{ comment_count }}</a></p>
    </div>
    <div class="post_body">
        {% if post_display %}
            {{ object.body|safe }}
        {% else %}
            {{ object.body|safe|truncatewords_html:150 }}
            <a href="{{ object.get_absolute_url }}"> Continue Reading... </a>
        {% endif %}
    </div>
    <div class="post_tags">
        {% for tag in object.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>