<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/main.css" media="all"/>
    <!--[if lt IE 7]>
        
    <![endif]--> 
</head>
<body>
    <div id="body_wrapper">
        <div id="header">
            Vitaly Babiy's Blog
            <ul id="menu">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Profilo</a></li>
            </ul>
        </div>
        <div id="main_body">
            <div id="content_header"></div>
            <div id="wrapper">
                {% block body %} {% endblock %}
            </div>
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>
