<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/main.css" media="all"/>
    <script src="/site_media/js/typography/syncotype.js" type="text/javascript"></script>
</head>
<body>
    <div id="body_wrapper">
        <div id="header">
            <h1>Vitaly Babiy's Blog</h1>
            <p class="date_time">{% now "l, jS F" %}</p>
        </div>
        <div id="menu">
            <ul>
                <li class=""><a href="#">Home</a></li>
                <li class="current"><a href="#">About Me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Profilo</a></li>
                <li id="rss_feed_tab"><a href="#"><img src="/site_media/images/layout/rss_button.png" /></a></li>
            </ul>
        </div>
        <div id="main_body">
            <div id="content_header"></div>
            <div id="wrapper">
                {% block body %} {% endblock %}
            </div>
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>
