<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load object_counts %}
{% load date_counts %}
{% load about_me %}
{% load analytics %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/main.css" media="all"/>
    <link href="{% url feeds "latest" %}" type="application/rss+xml" rel="alternate" title="Latest Posts" />
    <!-- Sytanx Highlighter -->
    <link type="text/css" rel="stylesheet" href="/site_media/css/syntax_highlighter/SyntaxHighlighter.css"></link>
    <script type="text/javascript" src="/site_media/js/syntax_highlighter/shCore.js"></script>
    <script type="text/javascript" src="/site_media/js/syntax_highlighter/shBrushCss.js"></script>
    <script type="text/javascript" src="/site_media/js/syntax_highlighter/shBrushPython.js"></script>
    
   <!--[if IE 6]>
      <script type="text/javascript" src="/site_media/js/DD_belatedPNG_0.0.7a-min.js"></script>
      <script>
          DD_belatedPNG.fix('.comment_count a');
          DD_belatedPNG.fix('div.post div.post_tags');
      </script>
   <![endif]--> 
</head>
<body class="{% block tab %}home{% endblock %}">
    <div id="body_wrapper">
        <!-- Header -->
        <div id="header">
            <h1><a href="{% url blog_post_archive_list %}">Vitaly Babiy's Blog</a></h1>
            <p class="date_time">{% now "l, F jS" %}</p>
        </div>
        
        <!-- Menu -->
        <div id="menu">
            <ul>
                <li class="home">
                    <div class="right_tab">
                        <div class="left_tab">
                            <a href="{% url blog_post_archive_list %}">Home</a>
                        </div>
                    </div>
                </li>
                <li class="profile">
                    <div class="right_tab">
                        <div class="left_tab">
							{% about_me %}
                            <a href="{{ about_me_user.get_profile.get_absolute_url }}">About Me</a>
                        </div>
                    </div>
                </li>
                <!--
                <li>
                    <div class="right_tab">
                        <div class="left_tab">
                            <a href="#">Projects</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="right_tab">
                        <div class="left_tab">
                            <a href="#">Portfolio</a>
                        </div>
                    </div>
                </li>    
                -->
                <li id="rss_feed_tab">
                    <div class="right_tab">
                        <div class="left_tab">
                            <a href="{% url feeds "latest" %}"><img src="/site_media/images/layout/rss_button.png" alt="rss_logo"/></a>
                        </div>
                    </div>
                </li>
            </ul>
			<div class="clear"></div>
        </div>
        
        <!-- Body -->
        <div id="main_body">
            <div id="content_header">
			</div>
            <div id="wrapper">
                <div id="sidebar">
                    <h2>Categories</h2>
                    <ul>
                        {% object_counts for blog.Category as categories %}
                        {% for category in categories %}
                            {% ifnotequal category.post_set.count 0 %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }} ({{category.post_set.count }})</a></li>
                            {% endifnotequal %}
                        {% endfor %}
                    </ul>
                    <h2>Tag Cloud</h2>
                    <ul>
                        {% object_counts for blog.Tag as tags %}
                        {% for tag in tags %}
                            <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }} ({{tag.post_set.count }})</a></li>
                        {% endfor %}
                    </ul>
                    <h2>Archives</h2>
                    <ul>
                        {% date_counts for blog.Post.date_published on month as dates %}
                        {% for date in dates %}
                            <li><a href="{% url post_month date.date.year,date.date|date:"b" %}">{{ date.date|date:"F Y" }} ({{ date.count }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="body">
                    {% block body %} {% endblock %}
                </div>
                <div class="clear"></div>
             </div>
        </div>
    </div>
    
    <!-- Footer -->
    <div id="footer_background">
        <div id="footer_center">
            <p class="copyright">
                &copy; {% now "Y" %} Vitaly Babiy’s Blog | Designed and Developed by Vitaly Babiy.
            </p>
            <p class="django_badge">
                <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25_grey.gif" alt="Made with Django." title="Made with Django." /></a>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        dp.SyntaxHighlighter.ClipboardSwf = '/site_media/js/syntax_highlighter/clipboard.swf';
        dp.SyntaxHighlighter.HighlightAll('code');
    </script>
    {% analytics %}
</body>
</html>
