@import url("reset.css");

/* Main CSS */
body {
	background: #5eb4e2 url("/site_media/images/layout/background.png") repeat-x left top;
	font-family: verdana, "trebuchet MS", helvetica, sans-serif;
	text-align:center;
}

a {
	text-decoration: none;
}

div#body_wrapper {
	margin: 0 auto;
	width: 970px;
	text-align: left;
}
div#header {
	color: white;
	background: url("/site_media/images/layout/beta_badge.png") no-repeat 407px 33px;
	height: 107px;
	position: relative;
}

div#header h1 {
	font-size: 2em;
}

div#header p.date_time {
	font-family:georgia,serif;
	font-size:.75em;
	font-weight:bold;
	position:absolute;
	right:19px;
	top:122px;
}

/* Menu */
div#menu {;
	list-style: none;
	color: #1b3340;
	font-size: 1.25em;
	position: relative;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
}

div#menu li{
	margin: 0px 5px 0px 0px;
	float: left;
	width: 6em;
}
div#menu li.current div.left_tab {
	background: url("/site_media/images/layout/tab_left.png") no-repeat left top;
	height: inherit
}

div#menu li.current div.right_tab{	
	background: url("/site_media/images/layout/tab_right.png") no-repeat right top;
	height: 35px;
}

div#menu li div.left_tab {
	background: url("/site_media/images/layout/tab_left.png") no-repeat left bottom;
	height: inherit
}

div#menu li div.right_tab{
	background: url("/site_media/images/layout/tab_right.png") no-repeat right bottom;
	height: 35px;
}

div#menu li a {
	text-align: center;
	padding-top: 5px;
	display: block;
	color: #1b3340;
	font-size: 1em;
	white-space: nowrap;
}

div#menu li#rss_feed_tab {
	right: 217.5px;
	width: 50px;
	position: absolute;
}
div#main_body div#content_header {
	background: url("/site_media/images/layout/body_top.png") no-repeat left top;
	height: 36px;
	clear: both;
}
div#main_body div#wrapper {
	background: url("/site_media/images/layout/wrapper_background.png") repeat-y left top;
	min-height:100px;
}

div#main_body div#footer{
	background: url("/site_media/images/layout/footer_background.png") repeat-y left top;
	height: 100px;
}

div.post {
	width: 748px;
	color: #494848;
}

/* Classes Using for Posts */
div.post div.header {
	background-color: #d9d9d9;
	font-weight: bold;
	color: #494848;
	padding: 6px;
	font-family: sans-serif;
	position: relative;
}

div.post h2 {
	padding-bottom: 4px;
}

div.post h2 a.title {
	font-size: 1.625em;
	font-weight: bold;
	color: #494848;
	font-family: georgia, serif;
}

div.post h2 a.title:hover {
	color: #5eb4e2;
}

div.post div.header .date_published {
	font-size: .625em;
}

div.post div.header .comment_count{
	color:white;
	position: absolute;
	background: url("/site_media/images/layout/comment_bubble.png") no-repeat;
	width:42px;
	height: 47px;
	top: 18px;
	left: 726px;
	font-size: 1em;
	font-weight: bold;
	padding: 13px 10px 13px 5px;
	text-align: center;
}

div.post div.post_body {
	font-size: .875em;
	line-height: 18px;
	color: #494848;
	padding: 6px 6px;
}

/* Post Body Formating */
div.post div.post_body p {
	line-height:inherit;
}


/* Body Elements */
div.post_body h1 {
	font-size: 1.2em;
}

div.post_body h2 {
	font-size: 1.2em;
}

div.post_body h3 {
	font-size: 1.2em;
}

div.post_body p {
	font-size: inherit;
	margin: 6px 0px;
}

div.post_body ul {
	list-style: disc;
	list-style-position: outside;
	margin-left: 20px;
}

div.post_body li {
	padding-bottom: 6px;
}

/* Tags */
div.post div.post_tags {
	background: url("/site_media/images/layout/tag.png") no-repeat 10px top;
	padding: 0px 6px 6px 36px;
	min-height: 19px;
}

div.post div.post_tags a {
	font-size: .625em;
	color: #494848;
}

div.post div.post_tags a:hover {
	color: #5eb4e2;
}

/* Sidebar */
div#sidebar {
	float:right;
	width: 190px;
	padding-right: 15px;
	text-align: right;
}

div#sidebar h3 {
	font-weight: bold;
	text-align: inherit;
	color: #494848;
	border-bottom:1px dashed;
	margin: 12px 0px 2px;
	text-transform: uppercase;
}

div#sidebar li {
	text-align: right;
	color: #494848;
	padding: 2px 0px;
	font-size: .75em;
}

div#sidebar li a {
	color:inherit;
}

div#sidebar li a:hover {
	color: #5eb4e2;
}

/* Footer*/
div#footer_background {
	background: #1B3340 url("/site_media/images/layout/footer_background.png") repeat-x;
	padding-bottom: 10px;
	clear: both;
	text-align: center;
}

div#footer_center{
	background: #1B3340 url("/site_media/images/layout/footer_center.png") no-repeat;
	width: 970px;
	height: 43px;
	margin: 0 auto;
	padding-top: 40px;
	color: #E6F4FB;
	font-size: 0.875em;
	position: relative;
}

div#footer_center p.django_badge {
	position: absolute;
	right:50px;
	top: 42px;
}
